<h2 class="white-text">Contact</h2>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
<p><form method="post" action="https://aashutoshkryadav.gitlab.io/how-to-implement-ajax-in-html-website/contact-us.html">
<fieldset style="border: 0px; margin: 0px; padding: 0px;">
<p style="text-align: left;">Your Name:<br /><label for="recaptcha_form_name"><input type="text" name="recaptcha_form_name" value="" style="width: 200px;" /></label></p>
<p style="text-align: left;">Your Email Address:<br /><label for="recaptcha_form_email"><input type="text" name="recaptcha_form_email" value="" style="width: 200px;" /></label></p>
<p style="text-align: left;">Your Message:<br /><label for="recaptcha_form_message"><textarea name="recaptcha_form_message" rows="5" cols="20" style="width: 350px;"></textarea>
</label></p>
<noscript>
<div id="gatt_design_recaptcha_plugin">

</div>
<br />
<textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
<input type="hidden" name="recaptcha_response_field" value="manual_challenge" />
</noscript>
<br />

<p style="text-align: left;"><input type="submit" name="recaptcha_client" value="Submit" /></p>
</fieldset>
</form></p>
